.SearchBox {
  display: flex;
  width: 80%;
  height: 50px;
  gap: 10px;
}

.SearchBox input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.SearchBox button {
  cursor: pointer;
  width: 50px;
  border: none;
  background-color: var(--contrast-color);
  color: white;
  border-radius: 5px;
}