.header_sidebar {
  position: absolute;
  top: 0;
  right: -250px; /* 사이드바 초기 위치 */
  width: 250px;
  height: 100%;
  background-color: var(--sub-color);
  visibility: hidden;
  opacity: 1 !important;
  transition: visibility 0s, right 0.3s ease;
}

.header_sidebar.sidebar_open {
  visibility: visible !important; /* 사이드바 열린 상태 */
  opacity: 1 !important; /* 사이드바 열린 상태 */
  right: 0; /* 사이드바 열린 상태 */
}

.profile_box {
  height: 180px;
  margin: 30px 15px;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
}

.header_inner_button {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.no-href-deco {
  color: inherit;
  text-decoration: none;
}

.profile_nickname {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_buttons {
  height: 20%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.profile_buttons button {
  width: 85px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.profile_buttons a {
  text-decoration: none;
  color: inherit;
}

.login_button {
  background-color: var(--accent-sub-color);
}

.register_button {
  background-color: var(--accent-color);
}

.logout_button {
  background-color: var(--contrast-color);
}

.update_button {
  background-color: var(--accent-color);
}