.listContainer {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.listItem {
  display: flex;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.emptyList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #888;
}