.chatList {
  flex-grow: 1;
  padding: 50px 10px;
  padding-bottom: 15px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 80px;
  visibility: inherit;
}

.chatListItem {
  background-color: var(--sub-color);
  background: var(--sub-color);
  width: 72px;
  height: 72px;
  /* border: 1.85px solid var(--accent-color); */
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-content: center;
  justify-self: center;
  cursor: pointer;
  visibility: inherit;
  position: relative;
}

.chatListItem:hover {
  background: var(--accent-sub-color);
}

.newMessage {
  position: absolute;
  top: -18px;
  right: -7px;
  border-radius: 100%;
  color: var(--contrast-color);
  padding: 2px;
  animation : shakeAlert 1s infinite linear;
}

@keyframes shakeAlert {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(-3px) translateY(1px) rotate(-15deg);
  }
  50% {
    transform: translateX(0) translateY(0);
  }
  75% {
    transform: translateX(3px) translateY(1px) rotate(15deg);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}