.messageList {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.messageList::-webkit-scrollbar {
  display: none;
}

.messagesContainer {
  overflow-y: auto;
  background-color: var(--main-color);
  flex-grow: 1;
  position: relative;
}

.messagesContainer::-webkit-scrollbar {
  display: none;
}

.message {
  display: flex;
  margin: 10px;
  max-width: 95%;
}

.sent {
  justify-content: flex-end;
  align-self: flex-end;
}

.received {
  justify-content: flex-start;
  align-self: flex-start;
}

@keyframes fadeInBackground {
  0% {
    background-color: black;
  }
  100% {
    background-color: var(--sub-color);
  }
}

.sent > p {
  background-color: var(--sub-color);
  animation: visible 1s forwards;
}

.received > p {
  background-color: #bde4e9;
  animation: visible 1s forwards;
}

.message > p {
  padding: 0.35rem 0.5rem;
  border-radius: 10px;
  max-width: 90%;
  font-size: 20px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.createdAt {
  position: relative;
}

.dateTime {
  position: absolute;
  font-size: 12px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sent .dateTime {
  left: -40px;
  bottom: 2px;
}

.received .dateTime {
  right: -40px;
  bottom: 2px;
}

.messageInput {
  font-family: none;
  height: 50px !important;
  width: 50%;
  padding: 0;
}

.messageInput > * > input {
  height: 15px;
  background-color: var(--main-color);
  filter: brightness(0.97);
}

.messageInputContainer {
  display: flex;
  position: absolute;
  bottom: 55px;
  padding: 8px 2px;
  width: calc(100% - 32px);
  height: 62px;
  animation: visible 1.2s forwards;
  align-content: center;
  background-color: var(--main-color);
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.messageInputButton {
  flex: 1;
  height: 48px !important;
  width: 50px;
  margin-left: 3px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  background-color: var(--main-color);
  justify-content: center;
  filter: brightness(0.97);
}

.inputButton {
  align-self: center;
  width: 50px;
  height: 50px;
  padding: 17px;
  color: black;
}

.inputButton:hover {
  background-color: rgba(0, 0, 0, 0.08)
}
