
.modalHeader {
  position: absolute;
  top: 35px;
  background-color: inherit;
  width: calc(100% - 32px);
  display: flex;
  flex-wrap: nowrap;
  font-size: 22px;
  z-index: 1001;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.modalTitle {
  align-self: center;
}

.sideMenuButton {
  border-radius: 20px;
  padding: 2px;
  width: 30px;
  height: 30px;
}

.sideMenuButton:hover {
  background-color: rgba(0, 0, 0, 0.23);
}