.bookInfo {
  display: flex;
  padding: 20px;
  position: relative;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.qualityEmoticon {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px !important;
  height: 30px;
}

.bookInfoDetail {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookInfoDetail > h3 {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
}

.bookInfoDetail > h4 {
  margin: 10px;
  font-size: 18px;
}

.bookInfoDetail strong {
  font-weight: normal;
  color: var(--contrast-color);
}

.giveBackSubmitButton {
  position: absolute;
  right: -5px;
  bottom: 0px;
  font-size: 18px;
  margin-left: 10px;
  width: fit-content;
  padding: 8px;
  color: var(--main-color);
  border-radius: 12px;
  background-color: var(--accent-color);
  cursor: pointer;
}

.wishButton {
  position: absolute;
  right: -5px;
  top: 0px;
  background-color: var(--sub-color);
  border: none;
  cursor: pointer;
}

.bookStatusEdit {
  position: absolute;
  right: -5px;
  top: 0px;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: auto;
  height: auto;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}