.item {
  display: flex;
  padding: 20px;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.qualityEmoticon {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px !important;
  height: 30px;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.thumbnail {
  cursor: pointer;
}

.bookInfo {
  display: flex;
  width: 50%;
  flex-grow: 0.78;
  flex-direction: column;
  justify-content: center;
  word-break: break-word;
}

.bookInfo > h3 {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
  white-space: normal;
}

.bookInfo > h4 {
  margin: 10px;
  font-size: 18px;
}

.bookInfo strong {
  font-weight: normal;
  color: var(--contrast-color);
}

.bookTitle {
  cursor: pointer;
}

.status {
  display: flex;
  justify-content: end;
  width: 20%;
}

.giveBackSubmitButton {
  position: absolute;
  bottom: 15px;
  width: fit-content;
  font-size: 18px;
  margin-left: 10px;
  padding: 8px;
  border-radius: 12px;
  color: var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.likedButton {
  color: var(--contrast-color);
  background-color: var(--sub-color);
  border: none;
  cursor: pointer;
}

.bookStatusEdit {
  right: -5px;
  top: 0px;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: auto;
  height: auto;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}