.emptyList {
  text-align: center;
  padding: 20px;
  color: #888;
}

.liked {
  width: 80%;
  font-size: 18px;
  padding: 10px 20px
}

.liked > strong {
  font-weight: normal;
  color: var(--contrast-color);
}

.likedUserbooksList {
  height: calc(100vh - 240px);
  overflow: auto;
}

.likedUserbooksList::-webkit-scrollbar {
  width: 10px;
}

.likedUserbooksList::-webkit-scrollbar-thumb {
  background-color: var(--accent-sub-color);
  border-radius: 10px;
  height: 30px;
  min-height: 30px;
}

.likedUserbooksList::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}