.emptyList {
  text-align: center;
  padding: 20px;
  color: #888;
}

.liked {
  width: 80%;
  font-size: 18px;
  padding: 10px 20px
}

.liked > strong {
  font-weight: normal;
  color: var(--contrast-color);
}

.likedUserbooksList {
  height: 80vh;
  overflow: auto;
}

.likedUserbooksList::-webkit-scrollbar {
  background-color: var(--accent-sub-color);
  border-radius: 10px;
  line-height: 1.15;
  width: 10px;
}
