.emptyList {
  text-align: center;
  padding: 20px;
  color: #888;
}

.registered {
  width: 80%;
  font-size: 18px;
  padding: 10px 20px;
}

.registered > strong {
  font-weight: normal;
  color: var(--contrast-color);
}