.emptyList {
  text-align: center;
  padding: 20px;
  color: #888;
}

.registered {
  width: 80%;
  font-size: 18px;
  padding: 10px 20px;
}

.registered > strong {
  font-weight: normal;
  color: var(--contrast-color);
}

.miniHeader {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-bottom: 20px;
  position: sticky;
}

.option {
  width: 12em;
  margin-right: 12px;
}

.registeredUserbooksList {
  height: 80vh;
  overflow: auto;
}

.registeredUserbooksList::-webkit-scrollbar {
  /* display: none; */
  background-color: var(--accent-sub-color);
  border-radius: 10px;
  line-height: 1.15;
  width: 10px;
}
